@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// select all
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

// initial root
#root {
    height: 100vh;
}
// breakpoint organizer
@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 70em) {
            @content;
        }
    } @else if $point == laptop {
        @media (min-width: 64em) {
            @content;
        }
    } @else if $point == tablet {
        @media (min-width: 50em) {
            @content;
        }
    } @else if $point == phablet {
        @media (min-width: 37.5em) {
            @content;
        }
    } @else if $point == mobileonly {
        @media (max-width: 37.5em) {
            @content;
        }
    }
}

.form-container {
    // original settings
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(phablet) {
        // phablet
    }
    @include breakpoint(laptop) {
        // laptop
    }
}

.auth-form {
    width: 90%;
    @include breakpoint(phablet) {
        // phablet
    }
    @include breakpoint(laptop) {
        // laptop
    }
}

.back-button {
    position: absolute;
    @include breakpoint(phablet) {
        // phablet
    }
    @include breakpoint(laptop) {
        // laptop
    }
}

.stocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint(laptop) {
    }
}

.stock-card {
    width: 300px;
    margin: 1em;
}

.left-panel {
    width: 40%;
}

.flex-panel {
    height: 100vh;
    display: flex;
}

.right-panel {
    width: 60%;
    height: 100vh;
}

.messages {
    height: 95vh;
    overflow-y: scroll;
}
.message {
    height: 100vh;
    div {
        width: 40%;
        height: 30px;
        margin: 1em;
        background: silver;
        border-radius: 15px 15px 15px 0px;
    }
}

.chat-form {
    position: fixed;
    bottom: 0;
}